[Desktop Entry]
Type=Application
Name=Autostart LXRandR
Comment=Uruchom xrand z ustawieniami LXRandR
Exec=sh -c 'xrandr --output DisplayPort-0 --mode 1280x1024 --pos 0x0 --rotate normal --output DisplayPort-1 --off --output HDMI-A-0 --primary --mode 1280x1024 --pos 1280x0 --rotate normal --output HDMI-A-1 --mode 1280x1024 --pos 2560x0 --rotate normal --output DVI-D-0 --off'
